/*
Default Skin Styles
This stylesheet contains styles that define Default-specific fonts, sizes, and colors, and the layout of the
wrapper (header + footer). Interface-specific styles are included in skins/base/base.css and can be overridden
here if necessary.
*/

/* Global */
body {font-size:14px; font-weight:300; margin:0; overflow-y:scroll; background:#fff; color:#666}
body, input, textarea, select {font-family:open sans,lucida grande,lucida sans unicode,helvetica,arial,sans-serif}
input, textarea, select {font-size:100%}
strong {font-weight:600}


/* Links */
a {text-decoration:none; color:#000; font-weight: bold;}
a:hover {color:#000; text-decoration: underline;}


/* Inline styles */
small {font-size:85%}


/* Block styles */
h1 {font-size:150%; font-weight:300}
h2 {font-size:160%; font-weight:300}
h3 {font-size:115%; font-weight:600}
h4 {font-weight:600}
p, ul, pre {line-height:1.6em}
.bodyHeader h1 {line-height:1.5em;}
.bodyHeader {padding: 0px;}

#conversationsFilter{padding-bottom: 20px; margin: 0px;}

#conversations{margin: 0px;	}

#conversationsFilter .channels{padding-left: 36px;}

#conversationsFilter .channelListItem {margin-left: -35px;}

#conversationsFilter .pathItem {margin-left: 0px;}

/* Sheets */
.sheet h3 {font-weight:300}
.sheet, .area {background:#fff}


/* Conversation list: adjust the typography. */
.conversationList .title {font-weight:300; font-size:16px}
.conversationList .unread .title a {font-weight:600}
.conversationList .action * {font-weight:300}


/* Channel list */
.channelList .channel {font-weight:600}


/* Posts */
.postHeader h3 {font-size:120%; font-weight:600}
.postBody h4 {font-weight:300}
.replyPlaceholder .postHeader h3 {font-weight:300}
.postBody {line-height:1.75em; font-size:16px}
.postBody a {font-weight:600}


/* Tabs */
.tabs.big li.selected a {color:#fff; border:0; padding:11px 14px}


/* Miscellaneous */
.permissionsGrid .group th {font-weight:300}
.action .name, .action a, .action strong {font-weight:600}
.avatar {border-radius:32px}
.scrubber li.selected > a {font-weight:600}


/* Layout */
#hdr-content, #body-content, #ftr-content {margin:0 auto; min-width:760px; max-width:1100px; padding:0 30px}
#body-content, #ftr-content {background-color:#fff}
#body-content {padding-bottom:20px; padding-top:20px}
#body {padding-top:60px}


/* Menus (inline lists) */
.menu {font-size:95%; list-style-type:none; margin-top:0; margin-bottom:0; padding:0;}
.menu > li {display:inline-block}


/* Header */
#hdr {background:#fff; position:fixed; width:100%; z-index:100; border-bottom:1px solid #D2D2D2 !important; height:60px;}
#hdr-inner {padding-right:580px; white-space:nowrap}
#hdr h1 {position: absolute; top: 50%; transform: translateY(-50%);}
#hdr h1 img {display:inline; vertical-align:-5px; margin-right:5px; border:0}
#hdr h1 span {margin-left:10px}
#backButton {float:left; margin-right:10px; margin-left:-30px; font-size:20px; line-height:20px; margin-top:17px; text-decoration:none}

#mainMenu {position: absolute; top: 50%; transform: translateY(-50%); margin-left: 50px;}
#mainMenu.menu > li {margin-left:18px; text-align:left}

#userMenu {float:right; padding:18px 0; margin-right:-580px; margin-left:-18px;}
#userMenu .item-user {font-weight:600}
#userMenu .item-user .avatar {vertical-align:middle; margin:-5px 8px -5px 0}
#userMenu.menu > li {margin-left:18px; text-align:left}

#hdr .button {border-radius:4px; font-size:100%; padding:9px 12px; margin:-7px 0}
#hdr #notifications {color:#ccc}
#hdr #notifications.new {color:#fff !important}


/* Footer */
#ftr {font-size:90%; clear: both;}
#ftr-content {padding-top:20px; padding-bottom:20px}
#ftr li {margin-right:10px}
#ftr .item-copyright {float:right; margin:0}


/* Text inputs */
input[type=text], input[type=password], input[type=number], input[type=email], textarea, .input {font-weight:300; background:#fff; border:1px solid; padding:5px; border-radius:3px; vertical-align:-1px; margin:0; -webkit-appearance:none}
input[type=text]:focus, input[type=password]:focus, textarea:focus, input[type=number]:focus, input[type=email]:focus, .input:focus {outline:0}


/* Buttons */
.button {background:#f6f6f6; font-weight:600; border:1px solid transparent; margin-bottom:1px; white-space:nowrap; height:30px; font-size:90%; padding:0 10px 2px; line-height:30px; -webkit-appearance:none}
.button.big {height:34px; font-size:90%; padding:0 10px 0; line-height:28px}
.button:hover, .button:active {border-color:#ddd}
.button:active {background-color:#ddd}
.button.disabled {opacity:0.25; cursor:default; border-color:transparent !important}

a.button {padding:8px 10px; height:auto; line-height:1em; display:inline-block}
a.button.big {padding:10px; height:auto; line-height:1em}

.button.submit {color:#fff}
.button.submit:hover {border-color:#000; color:#fff}

.buttonGroup .button {margin-right:-3px}

/* HOME Conversation list */
.home-content {padding: 0px;	float:left; width: 75%; margin:0px;}
.home-content .info{float:right; font-size: 85%}
.home-content li {overflow:hidden; padding-right:0px; padding-left:0px}	
.home-content .header{margin-bottom:10px;}
.home-content .title a {color:#000; font-size:150%;}
.home-content .unread .title a {font-weight:bold; color:#000}
.home-content .excerpt {color:#888; padding:10px; margin-bottom: 20px;}
.home-content .controls {margin-left:10px}
.home-content .controls a {margin-right:5px}
.home-content .action * {font-weight:normal !important}
.home-content .viewMore {padding:0}
.home-content .viewMore a {text-align:center; display:block; padding:8px}
.home-content .col-lastPost {float: none;}
.home-content .thumb{width:30px; height:30px;}

.read-more{color: #fff; font-weight: bold;}
.read-more:hover{color:#fff;}

.left{float:left;}
.cover-photo{margin-right:10px; float:left;}

.banner{color: #fff; margin-top: -20px; margin-bottom: 20px; height: 200px;}
.banner .banner-img{
	background-size: cover;
	height: 200px;
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
}
.home-banner{
	background: url(./img/banner.jpg) no-repeat center;
}

.about-banner{
	background: url(./img/police-state.jpg);
}

.about-quote{
	background-repeat: no-repeat; 
	color:#000; 
	font-weight: bold;
	font-size: 2.5vw;
	line-height: 1.3em;
	margin-bottom: 20px;
}

.sidebar{float:left; width:25%}
.sidebar .about{background-color: #888; color:#fff; margin-left:20px; margin-bottom: 20px; padding: 10px;}
.sidebar .about h1{margin-bottom: 10px;}
.sidebar .twitter-feed{margin-left:20px;}

.rounded-corners{
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px; /* future proofing */
	-khtml-border-radius: 5px; /* for old Konqueror browsers */
}

#admin #adminContent{margin-top: 0px;}



table {
    /* Remove spacing between table cells (from Normalize.css) */
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
    margin-bottom: 1em;
}

table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

table td,
table th {
    border-left: 1px solid #cbcbcb;/*  inner column border */
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible; /*to make ths where the title is really long work*/
    padding: 0.5em 1em; /* cell padding */
}
table td:first-child,
table th:first-child {
    border-left-width: 0;
}

table thead {
    background: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

/*
   even - #fff (white)
   odd  - #f2f2f2 (light gray)
*/
table td {
    background-color: transparent;
}

/* nth-child selector for modern browsers */
table tr:nth-child(2n-1) td {
    background-color: #f2f2f2;
}

/* BORDERED TABLES */
table td {
    border-bottom: 1px solid #cbcbcb;
}
table tbody > tr:last-child > td {
    border-bottom-width: 0;
}


@media (max-width: 950px) {
	#hdr .item-notifications{display: none;}
}